<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Student</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="text-center">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<div th:replace="@{'/inc/' + nav}"></div>

<style>
    .makeCenter{
        width:60%;
        margin:10% auto;
        padding:2%;
        background-color: #9fcdff;
    }
    body{
    //background-color: #9fcdff;
        background-color: mediumaquamarine;
    }
</style>
<div class="makeCenter">
    <h1>Edit Student</h1>
    <form action="/student/add" method="post" id="courseForm" >

        <div class="form-group row">
            <label for="code" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-8 offset-sm-1">
                <input type="text" class="form-control" id="code" name="firstName"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="sec" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-8 offset-sm-1">
                <input type="text" class="form-control" id="sec" name="lastName"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="time" class="col-sm-2 col-form-label">Email Address</label>
            <div class="col-sm-8 offset-sm-1">
                <input type="text" class="form-control" id="time" name="email"/>
            </div>
        </div>


        <div class="form-group row">
            <label for="studentId" class="col-sm-2 col-form-label">Student ID</label>
            <div class="col-sm-8 offset-sm-1">
                <input type="text" class="form-control" id="studentId" name="studentId"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="courseTaken" class="col-sm-2 col-form-label">Course Taken</label>
            <div class="col-sm-8 offset-sm-1">
                <div id="courseTaken">
                    <input id="addCourse" type="button" onclick="myAddCourse()" value="Add New Course"/>
                </div>
            </div>
        </div>

        <input type="submit" value="Add Student" />
    </form>

</div>

<script>
    function myAddCourse(){
        $("#addCourse").before("                               <div class=\"input-group col-sm-12\">\n" +
            "                                    <div class=\"input-group-prepend\">\n" +
            "                                        <span class=\"input-group-text\">Course Code</span>\n" +
            "                                    </div>\n" +
            "                                    <input type=\"text\" class=\"form-control\" name=\"cdCode\"/>\n" +
            "\n" +
            "                                    <div class=\"input-group-prepend\">\n" +
            "                                        <span class=\"input-group-text\">Section</span>\n" +
            "                                    </div>\n" +
            "                                    <input type=\"text\" class=\"form-control\" name=\"cdSec\"/>\n" +
            "                                </div>");
    }
</script>

</body>
</html>