* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.makeCenter{
    width:60%;
    margin:10% auto;
    padding:2%;
    background-color: #9fcdff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body{
    background-color: #9fcdff;
    //background-color: mediumaquamarine;
    background-image: linear-gradient(45deg, #667eea,  #764ba2 100%); /* Standard syntax (must be last) */
}
body, html{
    height: 100%;
}

td, th{
    text-align :center;
    vertical-align: middle;
}


.myCenter{
    text-align :center;
    vertical-align: middle;
}
.onlyCenter{
    width:80%;
    margin:10% auto;
    padding:2%;
}
i{
    margin: 0 .5em 0 0;
}
/*
.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 20%;
    // width = 100% / column number
    float: left;
}
*/