<!DOCTYPE html>
<html lang="en" xml:th="http://www.thmyeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Courses | Online Advising System | Minhazul Hayat Khan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="@{'inc/' + headTags}" th:remove="tag"></div>
</head>


<body class="text-center">
    <style>
        body,
        html {
            height: 100%;
        }

        body {
            //background-image: url("/image/background1.jpg");

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <div th:replace="@{'inc/' + nav}"></div>

    <div class="makeCenter">
        <h1>Welcome to the Online Advising System</h1>
        <h4 th:if="${msg_error}" th:text="${msg_error}" class="bg-danger text-light text-center"></h4>
        <h4 th:if="${msg_success}" th:text="${msg_success}" class="bg-success text-light text-center"></h4>

        <br>
        <br />
        <br />
        <a href="/dashboard">
            <button type="button" class="btn btn-success">
                Dashboard
                <i class="fas fa-smile fa-lg" style="margin-left: .5em;"></i>

            </button>
        </a>
    </div>
    <div th:replace="@{'inc/' + footTags}" th:remove="tag"></div>
    <script>
    //$("nav").addClass("bg-info");
    </script>
</body>

</html>