<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Student</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="@{'inc/' + headTags}" th:remove="tag"></div>
</head>
<body class="text-center">
<div th:replace="@{'inc/' + nav}"></div>


<div class="makeCenter">
    <h1>Select Student</h1>
    <h4 th:if="${msg_error}" th:text="${msg_error}" class="bg-danger text-light text-center"></h4>
    <h4 th:if="${msg_success}" th:text="${msg_success}" class="bg-success text-light text-center"></h4>
    <form action="/student/select" method="post" id="courseForm" >
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Insert Student ID: </label>
            <div class="col-sm-8 offset-sm-1" id="name">
                <span>
                <input type="text" class="col-sm-4"   name="idYear" onkeypress="verify(this)" minlength="4" maxlength="4" required/>
                <spn>-</spn>
                <input type="text" class="col-sm-2"  name="idSemister" onkeypress="verify(this)" minlength="1" maxlength="1" required/>
                <spn>-</spn>
                <input type="text" class="col-sm-2"  name="idDept" onkeypress="verify(this)" minlength="2" maxlength="2" required/>
                <spn>-</spn>
                <input type="text"  class="col-sm-3" name="idRoll" onkeypress="verify(this)" minlength="3" maxlength="3" required/>
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-danger">
            Start Advising

        <i class="fas fa-dragon fa-lg" style="margin-right: 0px;margin-left:1em;"></i>
        <i class="fas fa-hand-point-right fa-lg" style="margin-left: 0px;"></i>
        </button>
    </form>
</div>
<div th:replace="@{'inc/' + footTags}" th:remove="tag"></div>
<script type="text/javascript">
    function verify(ev){
        //console.log(ev.value);
        //console.log(ev.maxLength);
        if(ev.value.length == ev.maxLength-1 && ev.name != "idRoll"){
            ev.nextElementSibling.nextElementSibling.focus();
            //console.log("HI");
        }
    }
</script>



</body>
</html>