<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses Offered</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<style>
    .myCenter{
        text-align :center;
        vertical-align: middle;
    }
</style>

<h1 class="row justify-content-center" >All Couses Offered</h1>
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
    <th class="myCenter">Code</th>
    <th class="myCenter">Section</th>
    <th class="myCenter">Time</th>
    <th class="myCenter">Day</th>
    <th class="myCenter">Room</th>
    <th class="myCenter">Seat</th>
    <th class="myCenter">Instructor</th>
    </thead>
    <tbody>
    <tr th:each="my : ${courseList}">
        <td class="myCenter" th:text="${my.code}"> </td>
        <td class="myCenter" th:text="${my.sec}"> </td>
        <td class="myCenter" th:text="${my.time}"> </td>
        <td class="myCenter" th:text="${my.day}"> </td>
        <td class="myCenter" th:text="${my.room}"> </td>
        <td class="myCenter" th:text="${my.seats}"> </td>
        <td class="myCenter" th:text="${my.instructor}"> </td>
        <td>
            <form th:method="delete" th:action="@{'/course/remove/' + ${my.id}}">
                <input type="submit" value="Remove" />
            </form>
        </td>
        <td>

            <form th:method="post" th:action="@{'/course/edit/'}">
                <input type="hidden" th:value="${my.id}" name="id" />
                <input type="submit" value="Edit" />
            </form>
        </td>
        <!--
        <td class="myCenter">
            <span th:each="pre: ${my.taken}">
                <span th:text="${pre.code} + ', '" th:remove="tag"> </span>
            </span>
        </td>
        -->
    </tr>
    </tbody>
</table>



<!--
<div th:each="my : ${course}">
    <p th:text="${my.name}"> </p>
    <p th:text="${my.code}"> </p>
    <p th:text="${my.dept}"> </p>
    <p th:text="${my.has_lab}"> </p>
    <div th:each="pre: ${my.prerequisite}">
        <p th:text="${pre}"></p>
    </div >
</div>
-->
</body>
</html>
