<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Signup For Advising</title>
</head>
<body>
<h1>This is the signup form</h1>
<div th:if="${success != null}">
    <p th:text="'MESSAGE: ' + ${success}"> </p>
</div>
<form method="post" th:action="@{/signup}" th:object="${user}">
    <table>
        <tr>
            <td>Username: </td>
            <td><input type="text"  th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password"  th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>Confirm Password: </td>
            <td><input type="password"  name="confirm_pass" /></td>
            <td th:if="${err_confirm_pass != null}" th:errors="$(err_confirm_pass)">Error</td>
        </tr>
        <tr>
            <td>Admin Password(optional): </td>
            <td><input type="password"  name="admin_pass" /></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Signup" /></td>
        </tr>
    </table>

</form>
</body>
</html>