<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses Offered</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<h2>Select the courses you want, you can only select at most 4</h2>
<form action="#" method="post" id="courseForm" >
    <div th:each="st : seatplan">
        <p th:text="st"></p>
        <!--
        <div class="form-group row">
            <label th:for="st.code" class="col-sm-2 col-form-label" th:text="st.code" name="takeCode"></label>
            <div class="col-sm-8 offset-sm-1" th:id="st.code">
                <option th:each="msg : st.sections">
                    <select th:text="msg.value" th:value="msg.key"></select>
                </option>
            </div>
        </div>
-->
    </div>
    <input type="submit" value="Add Course" />
</form>


</body>
</html>