<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses Offered</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<style>
    .makeCenter{
        width:60%;
        margin:10% auto;
        padding:2%;
        background-color: #9fcdff;
    }
    body{
    //background-color: #9fcdff;
        background-color: mediumaquamarine;
    }
</style>
<div class="makeCenter">


<h2>Select the courses you want, you can only select at most 4</h2>
    <h3 th:if="${error}" th:text="${error}"></h3>
<form action="#" method="post" id="courseForm" >
    <input type="hidden" name="id" th:value="${student}"/>

    <div th:each="st : ${seatplan}">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label th:for="${st.code}" class="input-group-text" th:text="${st.code}"></label>
            </div>

            <select  class="custom-select" th:id="${st.code}" name="takeCode">
                <option th:value="0">None</option>
                <div th:each="msg : ${st.sections}" th:remove="tag">
                    <div th:if="${take}">
                        <option th:text="${msg.value}" th:value="${msg.key}" th:selected="${#lists.contains(take, msg.key )}"></option>

                    </div>
                    <div th:unless="${take}">
                        <option th:text="${msg.value}" th:value="${msg.key}"></option>
                    </div>
                    <!--
                        <option th:text="${msg.value}" th:value="${msg.key}" th:checked="${#lists.contains(take, msg.key )}" ></option>
                    -->
                </div>
            </select>
        </div>
    </div>
    <input type="submit" value="Add Course" class="button"/>
</form>
</div>

</body>
</html>