<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses Offered</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    -->
</head>
<body class="text-center">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<div th:replace="@{'/inc/' + nav}"></div>
<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
-->
<div class="makeCenter">
    <h1 th:text="@{'Info of ' + ${dashStudent.firstName} + ' ' + ${dashStudent.lastName}}"></h1>

        <div class="form-group row">
            <label for="code" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-8 offset-sm-1">
                <label type="text" class="form-control" id="code" th:text="${dashStudent.firstName}" name="firstName"></label>
            </div>
        </div>

        <div class="form-group row">
            <label for="lname" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-8 offset-sm-1">
                <label type="text" class="form-control" id="lname" th:text="${dashStudent.lastName}" name="firstName"></label>
            </div>
        </div>

        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email Address</label>
            <div class="col-sm-8 offset-sm-1">
                <label type="text" class="form-control" id="email" th:text="${dashStudent.email}" name="firstName"></label>
            </div>
        </div>


        <div class="form-group row">
            <label for="stdId" class="col-sm-2 col-form-label">Student ID</label>
            <div class="col-sm-8 offset-sm-1">
                <label type="text" class="form-control" id="stdId" th:text="${dashStudent.studentId}" name="firstName"></label>
            </div>
        </div>

        <div class="form-group row">
            <label for="courseTaken" class="col-sm-2 col-form-label">Course Taken</label>
            <div class="col-sm-8 offset-sm-1" id="courseTaken">

                <div th:each="take: ${dashStudent.taken}" th:remove="tag">


                    <div th:switch="${take.section}" th:remove="tag">
                        <div th:case="null">
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Course(s)</span>
                                </div>
                                <label type="text" class="form-control" th:text="${take.code}" name="code"></label>

                            </div>
                        </div>
                        <div th:case="*">
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Course Code</span>
                                </div>
                                <label type="text" class="form-control"  th:text="${take.code}" name="code"></label>

                                <div class="input-group-prepend">
                                    <span class="input-group-text">Section</span>
                                </div>
                                <label type="text" class="form-control" th:text="${take.section}"></label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>

</body>
</html>